
<a href="https://www.linkpicture.com/view.php?img=LPic6290e44266e00811519351"><img src="https://www.linkpicture.com/q/logo.svg" type="image"></a>

<p><b>Home page for plagiarism detection Project Unit-2</b></p>
<br>CODING
<br>
<br>
<ul>

<li><a href="{% url 'unit2rep' %}"> create req for new report</a></li>
<li><a href="{% url 'unit2rec' %}"> read report</a></li>

<img class="watermark" src="https://www.linkpicture.com/view.php?img=LPic6290e44266e00811519351"/>.watermark { position: relative; }.watermark::after { position: absolute; bottom: 0; right: 0; content: "COPYRIGHT"; } 

</div>

